@page "/"
@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@inherits LayoutComponentBase
@using Blazored.Toast.Configuration

<AuthorizeView>
    <Authorized>
        @*<Dashboard />*@
        <h3>Welcome to hSenid POS.</h3>
    </Authorized>
    <NotAuthorized>
        <h2>Please Log In to Continue!</h2>
    </NotAuthorized>
</AuthorizeView>
